@model List<QuanlyDiemrenluyen.ViewModels.TaiKhoanVM>
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = 0;
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title">@ViewBag.Title</h4>
                        @*<ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="#">Quản trị hệ thống</a></li>
                            <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
                        </ol>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-success waves-effect waves-warning mb-2" onclick="showPopup()" title="Thêm Tài Khoản">Thêm</button>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            STT
                                        </th>

                                        <th>
                                            Tên tài khoản
                                        </th>
                                        <th>
                                            Họ và tên
                                        </th>
                                        <th>
                                            Mã sinh viên
                                        </th>
                                        <th>
                                           Lớp
                                        </th>
                                        <th>
                                            Vai trò
                                        </th>

                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        id++;
                                    <tr>

                                        <td>
                                            @id
                                        </td>

                                        <td>
                                            @Html.HiddenFor(modelItem => item.TaiKhoanID)
                                            <a onclick="showInfo('@item.TaiKhoanID')">@Html.DisplayFor(modelItem => item.TenTaiKhoan)</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoTen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaTaiKhoan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenLop)
                                        </td>
                                        <td>
                                            @foreach (var quyens in item.DsQuyen)
                                            {
                                                <span class="alert alert-info p-2"> @Html.DisplayFor(modelItem => quyens.TenQuyen)</span>
                                            }

                                        </td>
                                        <td>
                                            @{
                                                <a class="btn btn-sm btn-icon btn-info" style="background: #0179A8; border:none" data-bs-toggle="tooltip" data-bs-placement="top" title="Sửa Tài Khoản" onclick="showPopup('@item.TaiKhoanID')"><i class="fa fa-pencil-alt" style="color: white"></i></a>
                                                <a class="btn btn-sm btn-icon btn-success" style="border:none" data-bs-toggle="tooltip" data-bs-placement="top" title="Mật khẩu mặc định" onclick="showDefault('@item.TaiKhoanID')"><i class="fas fa-cogs"></i></a>
                                                <a class="btn btn-sm btn-icon btn-info" style="background: #d39e2e; border: none" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật quyền" onclick="showQuyen('@item.TaiKhoanID')"><i class="fa-solid fa-user-pen" style="color: white"></i></a>
                                                <a class="btn btn-sm btn-icon btn-danger" style="background: #a95292; border:none" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa Tài Khoản" style="border-radius:50%;" onclick="showDelete('@item.TaiKhoanID')"><i class="far fa-trash-alt" style="color: white"></i></a>
                                            }
                                        </td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                            <div class="col-sm-6 col-md-4 col-xl-3">
                                <div class="modal fade bs-example-modal-lg" data-bs-backdrop="static" data-keyboard="false" role="dialog" id="userModal" aria-labelledby="userModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" id="usermodalBody">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

    </div>
    <!-- end main content-->
</div>

@section scripts{

    <script>
        function showPopup(id) {
            $.get("/TaiKhoans/GetUserPartial", { id: id }, function (res) {
                $("#usermodalBody").html(res);
                $("#userModal").modal('show');
            })
        }

        function CreateOrUpdate() {
            var modal = $("#userModal");
            var form = $('form[name="userForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/TaiKhoans/AddOrEdit", data, function (res) {
                    if (res.Status) {
                        toastr.success(res.Message);
                        setTimeout(function () {
                            modal.modal('hide');
                            location.reload();
                        }, 1000);
                    } else {
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(res.Message);
                    }
                });
            }
        }

        function showDefault(id) {
            var data = id /*$("#TaiKhoanID").val()*/;
            $.post("/TaiKhoans/DefaultPassword/"+id, data, function (res) {
                if (res.Status) {
                    toastr.success(res.Message);
                    setTimeout(1000);
                } else {
                    setTimeout(function () {
                        window.removeLoader();
                    }, 1000);
                    toastr.error(res.Message);
                }
            });
        }

        function showQuyen(id) {
            $.get("/TaiKhoans/GetPhanQuyen", { id: id }, function (res) {
                $("#usermodalBody").html(res);
                $("#userModal").modal('show');
            })
        }

        function AddQuyen() {
            var modal = $("#userModal");
            var form = $('form[name="userForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/TaiKhoans/AddQuyen", data, function (res) {
                    if (res.Status) {
                        toastr.success(res.Message);
                        setTimeout(function () {
                            modal.modal('hide');
                            location.reload();
                        }, 1000);
                    } else {
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(res.Message);
                    }
                });
            }
        }
        function showInfo(id) {
            $.get("/TaiKhoans/GetInfo", { id: id }, function (res) {
                $("#usermodalBody").html(res);
                $("#userModal").modal('show');
            })
        }

        function showDelete(id) {
            $.get("/TaiKhoans/GetDelete", { id: id }, function (res) {
                $("#usermodalBody").html(res);
                $("#userModal").modal('show');
            })
        }

        function Delete() {
            var modal = $("#userModal");
            var form = $('form[name="userForm"]');
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/TaiKhoans/Delete", data, function (res) {
                    if (res.Status) {
                        toastr.success(res.Message);
                        setTimeout(function () {
                            modal.modal('hide');
                            location.reload();
                        }, 1000);
                    }
                });
            }
        }

                                //function Delete(id) {
                                //    if (confirm("Bạn chắc chắn muốn xóa?") == true) {
                                //        $.get("/TaiKhoans/Delete", { id: id }, function (res) {
                                //            if (res) {
                                //                window.location.reload();
                                //            }
                                //        })
                                //    }
                                //}
    </script>
}
